h1, h2 {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

.red {
    background-color: hsl(0, 60%, 40%);
}

.blue {
    background-color: hsl(220, 60%, 40%);
}

.green {
    background-color: hsl(130, 60%, 40%);
}

.yellow {
    background-color: hsl(59, 60%, 40%);
}

.green {
    background-color: hsl(0, 0%, 0%);
}

.flexbox {
    display: flex;
    list-style: none;
}

.item {
    padding: 5px;
    margin: 5px;
    font-family: 'Courier New', Courier, monospace;
    color: hsl(0, 100%, 99%);
    font-weight: 800;
    text-align: center;
    flex-wrap: wrap-reverse;
    line-height: 100px;
    min-width: 200px;
    height: 100px;
}


.grid {
    width: 80%;
    height: 500px;
    margin: auto;
    display: grid;
    
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 4fr 0.5fr;
}

.box {
   border-style: solid; 
   font-family: 'Courier New', Courier, monospace;
   font-weight: 600;
   text-align: center;
   line-height: 100px;
   color: hsl(0, 0%, 100%);
   grid-gap: 5px;
   
}


.header {
    grid-row-start: 1;
    grid-row-end: 3;
}

.navigation {
    grid-area: 1 / 2 / 1 / 3 ;
}